name: Release

on:
  push:
    branches:
      - "master"
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - kernel-version: "5.10.35"
            kernel-branch: "5.10"
            uboot-version: v2021.07-rc3
            rootfs-name: debian-10.9-minimal-armhf-2021-04-14
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup build config
        env:
          KERNEL_VERSION: ${{ matrix.kernel-version }}
          KERNEL_BRANCH: ${{ matrix.kernel-branch }}
          UBOOT_VERSION: ${{ matrix.uboot-version }}
          ROOTFS_NAME: ${{ matrix.rootfs-name }}
        run: |
          echo "export KERNEL_VERSION=\"$KERNEL_VERSION\"" >> ./scripts/user-config.sh
          echo "export KERNEL_BRANCH=\"$KERNEL_BRANCH\"" >> ./scripts/user-config.sh
          echo "export UBOOT_VERSION=\"$UBOOT_VERSION\"" >> ./scripts/user-config.sh
          echo "export ROOTFS_NAME=\"$ROOTFS_NAME\"" >> ./scripts/user-config.sh
          cat ./scripts/user-config.sh

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: pat-s/always-upload-cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Cache ccache
        uses: pat-s/always-upload-cache@v2
        with:
          path: ./tmp/ccache
          key: ${{ runner.os }}-ccache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-ccache-

      - name: Cache tmp
        uses: pat-s/always-upload-cache@v2
        with:
          path: |
            ./tmp/linaro
            ./resources/*.patch
            ./resources/*.tar
            ./resources/*.tar.gz
          key: ${{ runner.os }}-tmp-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-tmp-

      - name: Setup build environment
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          load: true
          tags: image-builder
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      # This ugly bit is necessary if you don't want your cache to grow forever
      # till it hits GitHub's limit of 5GB.
      # Temp fix
      # https://github.com/docker/build-push-action/issues/252
      # https://github.com/moby/buildkit/issues/1896
      - name: Move docker cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Prepare environment
        run: ./run.sh prepare

      - name: Prepare kernel
        run: ./run.sh prepare-kernel

      - name: Build kernel image
        run: ./run.sh build-kernel-image

      - name: Build kernel modules
        run: ./run.sh build-kernel-modules

      - name: Build kernel device-trees
        run: ./run.sh build-kernel-device-trees

      - name: Install kernel
        run: ./run.sh install-kernel

      - name: Install rootfs
        run: ./run.sh install-rootfs

      - name: Build U-Boot
        run: ./run.sh build-uboot

      - name: Build image
        run: ./run.sh build-image

      # remove un-compressed images
      - name: Cleanup output
        run: |
          rm -rf ./output/*.img

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: output/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v2
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        with:
          name: build-artifacts
          path: output/*
