name: Release

on:
  push:
    tags:
      - "*"

jobs:
  go-releaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: pat-s/always-upload-cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Cache lfs tmp
        uses: pat-s/always-upload-cache@v2
        with:
          path: ./tmp/
          key: ${{ runner.os }}-lfs-tmp-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-lfs-tmp-

      - name: Setup build environment
        run: ./setup.sh

      - name: Build kernel
        run: ./build.sh kernel

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: output/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
